{% extends 'base.html.twig' %}

{% block title %}MAEH, mouvement pour l'amélioration de l'environnement hospitalier.{% endblock %}
{% block body %}
{% include "/components/header.html.twig" %}
<div class="flex h-full justify-center">
    <p class="my-10 text-green-800 text-2xl border-2 border-green-800 p-3 rounded-xl font-semibold text-center">
        M.A.E.H: un mouvement bénévole pour humaniser les hôpitaux. On guérit plus vite dans un cadre gai, chaleureux, familial.
    </p>
</div>
{% endblock %}
