{% extends 'base.html.twig' %}

{% block title %}MAEH, mouvement pour l'amélioration de l'environnement hospitalier.{% endblock %}
{% block body %}
{% include "/components/header.html.twig" %}
{# <div class="flex justify-center text-yellow-800 font-bold text-2xl">
<p class="">L’association M.A.E.H. fête ses 50 ans en 2023</p>
</div> #}
{% endblock %}
