{% extends 'base.html.twig' %}

{% block title %}Realisations{% endblock %}

{% block body %}
{% include "components/header.html.twig" %}
<div>L’environnement hospitalier comprend tout ce dont le malade se trouve entouré, de son arrivée à son départ, qu’il s’agisse d’éléments architecturaux ou décoratifs, ou d’organisation des soins. Les réalisations concernent tout ce qui peut rendre l’environnement du malade plus accueillant, plus agréable, plus fonctionnel, plus calme, plus serein, … de manière que sa maladie soit plus facile à supporter. Cependant, le M.A.E.H ne peut pas se substituer aux hôpitaux pour des projets de maintenance et d’entretien par exemple.
Une réalisation est un projet ponctuel, voté par les bénévoles en Assemblée Générale, en tenant compte du budget voté pour l’année en cours.</div>
{% endblock %}
