<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/img/favicon-96x96.png">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <div class="header flex  items-center justify-around">
        <img src="/img/logo.png" alt="logo" class="h-[20vh]">
        <h1 class="text-center">MAEH</h1>
    </div>
    {% block body %}
    {% endblock %}
</body>

</html>