{% if app.user %}
<div class="mb-3 w-full text-green-800 flex justify-between">
    <div class="ms-5">
        Connecté en tant que {{ app.user.firstname }} {% if app.user.roles == ["ROLE_USER"] %} <span
            class="text-green-700">(Utilisateur)</span>, <a href="{{ path('app_logout') }}" class="me-5 underline">Se déconnecter</a>
        {% endif %}
    </div>
    <div>
        {% if app.user.roles == ["ROLE_USER"] %}
        <div>
            <a href="/admin" class="underline me-5">Espace bénévole</a>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="mb-3 text-right">
    <a href="/login">Se connecter</a>
</div>
{% endif %}
<div class="header flex flex-col items-center justify-center bg-green-50 py-3 relative h-[40vh]">
    <div class="w-full flex max-lg:flex-col items-center justify-around">
        <div class="w-[20vw] max-lg:w-[30vw]">
            <a href="/">
                <img src="/img/logo.png" alt="logo" class="w-[40vh]">
            </a>
        </div>
        <div>
            <p class="text-center text-green-700 text-6xl font-semibold leading-[1.5] uppercase">Mouvement pour l'Améloiration de l'Environnement Hospitalier</p>
        </div>
    </div>
    {# <h1 class="text-center">MAEH</h1> #}
</div>
<div class="flex items-center overflow-hidden relative text-green-500 font-bold text-2xl bg-green-100 my-5 py-2 rounded-xl h-12 max-lg:h-[5vh]">
  <p class="absolute whitespace-nowrap animate-marquee-left-to-right items-center max-lg:text-4xl">
    🎂 L’association M.A.E.H. fête ses 50 ans en 2023 🎂
  </p>
</div>
<div class="links flex justify-around bg-green-200 py-3 mb-5 rounded-xl  max-lg:hidden">
    <a href="/"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Accueil</a>
    <a href="#"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Vie
        de l'association</a>
    <a href="#"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Qui
        sommes nous?</a>
    <a href="#"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Réalisations</a>
    <a href="#"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Nos
        boutiques</a>
    <a href="#"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Contact</a>
    <a href="#"
        class="text-green-700 hover:bg-green-700 hover:text-green-100 py-3 px-2 rounded-2xl font-semibold transition duration-500 ease-out">Faire
        un don</a>
</div>