{% if app.user %}
<div class="mb-3 w-full  flex justify-between">
    <div class="ms-5">
        Connecté en tant que {{ app.user.firstname }} {% if app.user.roles == ["ROLE_USER"] %} <span
            class="text-yellow-700">(Utilisateur)</span>
        {% endif %}
    </div>
    <div>
        {% if app.user.roles == ["ROLE_USER"] %}
        <div>
            <a href="/admin">Espace bénévole</a>
        </div>
        {% endif %}
        <div>
            <a href="{{ path('app_logout') }}" class="me-5">Se déconnecter</a>
        </div>
    </div>
</div>
{% else %}
<div class="mb-3 text-right">
    <a href="/login">Se connecter</a>
</div>
{% endif %}
<div class="header flex flex-col items-center justify-center bg-yellow-50 py-3 relative h-[40vh]">
    <a href="/">
        <img src="/img/logo.png" alt="logo" class="h-[40vh] ">
    </a>
    {# <h1 class="text-center">MAEH</h1> #}
</div>
<div class="flex justify-center text-yellow-400 font-bold text-2xl bg-yellow-100 py-2 rounded-xl">
    <p class="">L’association M.A.E.H. fête ses 50 ans en 2023</p>
</div>
<div class="links flex justify-around bg-yellow-200 py-3 mb-5 rounded-xl ">
    <a href="/"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Accueil</a>
    <a href="#"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Vie
        de l'association</a>
    <a href="#"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Qui
        sommes nous?</a>
    <a href="#"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Réalisations</a>
    <a href="#"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Nos
        boutiques</a>
    <a href="#"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Contact</a>
    <a href="#"
        class="text-yellow-700 hover:bg-yellow-700 hover:text-yellow-300 py-3 px-2 rounded-2xl font-semibold transition duration-500">Faire
        un don</a>
</div>