{% if app.user %}
<div class="mb-3 w-full text-green-800 flex justify-between">
    <div class="ms-5">
        Connecté en tant que {{ app.user.firstname }} {% if app.user.roles == ["ROLE_USER"] %} <span
            class="text-green-700">(Utilisateur)</span>, <a href="{{ path('app_logout') }}" class="me-5 underline">Se
            déconnecter</a>
        {% endif %}
    </div>
    <div>
        {% if app.user.roles == ["ROLE_USER"] %}
        <div>
            <a href="/admin" class="underline me-5">Espace bénévole</a>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="mb-3 text-right text-green-800">
    <a href="/login">Se connecter</a>
</div>
{% endif %}
<div class="relative z-1  w-full bg-cover bg-center rounded-xl zoom-background" style="background-image: url('/img/P1019787.jpg');">
    <!-- Overlay pour l'assombrir -->
    <div class="absolute z-2 inset-0 bg-white/40 rounded-xl"></div>

    <!-- Contenu centré -->
    <div class="relative z-10 flex flex-col md-flex-row lg:flex-row lg:gap-10 py-5 items-center justify-around h-full px-4">
        <div class="w-[20vw] md:w-[20vw] lg:w-[25vw] mb-4 lg:mb-0">
            <a href="/">
                <img src="/img/logo.png" alt="logo" class="w-full h-auto">
            </a>
        </div>
        <div class="text-center text-green-700 text-4xl md:text-4xl lg:text-6xl font-semibold leading-tight sm:pb-5">
            <span class="text-yellow-300">M</span>ouvement pour l'<span class="text-yellow-300">A</span>mélioration
            de l'<span class="text-yellow-300">E</span>nvironnement <span class="text-yellow-300">H</span>ospitalier
        </div>
    </div>
</div>
<div
    class="flex items-center max-lg:justify-center overflow-hidden relative text-green-500 font-bold text-2xl  my-5 py-2 rounded-xl h-12 max-lg:h-[5vh]">
    <p class="absolute whitespace-nowrap lg:animate-marquee-left-to-right items-center lg:text-4xl">
        🎂 L’association M.A.E.H. fête ses 50 ans en 2023 🎂
    </p>
</div>
<div class="links flex justify-around bg-green-200 py-3 mb-5 rounded-2xl  max-lg:hidden">
    {% set currentPath = app.request.getPathInfo() %}
    <a href="/" 
    {% if currentPath=="/" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Accueil
    </a>
        <a href="/#" 
    {% if currentPath=="/vie" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Vie
        de l'association</a>
    <a href="/about" 
    {% if currentPath=="/about" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Qui
        sommes nous?</a>
    <a href="/realisations"
    {% if currentPath=="/realisations" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Réalisations</a>
   <a href="/#" 
    {% if currentPath=="/boutiques" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Nos
        boutiques</a>
    <a href="/#" 
    {% if currentPath=="/contact" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Contact</a>
    <a href="/#" 
    {% if currentPath=="/dons" %} class=" py-1 px-4 items-center flex rounded-2xl underline decoration-2 scale-110 underline-offset-4 leading-2 text-green-700 font-bold"
    {% else %}
        class="text-green-700 hover:scale-110 hover:underline  py-1 px-4 items-center decoration-2 underline-offset-4 flex rounded-2xl font-medium transition duration-500 ease-out"
        {% endif %}
        >Faire
        un don</a>
</div>